$switch-btn-background: #ffffff;
$switch-btn-border-color: #dfe5ec;
$switch-btn-color: #4a4a4a;
$switch-changed-background: #2196f3;
$switch-changed-color: #ffffff;

.btn {
  width: 50%;
  height: 100%;
  background: $switch-btn-background;
  border: 1px solid $switch-btn-border-color;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: $switch-btn-color;
  outline: none;
  transition: all 0.5s ease;

  &:not(.changed) {
    cursor: pointer;

    &:hover {
      transform: scale(1.02);
    }
  }

  &:focus {
    transform: scale(1.02);
  }

  @media (max-width: 419px) {
    font-size: 10px;
  }
}

.right {
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.left {
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.changed {
  background: $switch-changed-background;
  color: $switch-changed-color;
  border: none;
}
