.wrapper {
  display: grid;
  grid-template-rows: 50px 1fr 100px;
  gap: 20px;

  @media (max-width: 419px) {
    grid-template-rows: 35px 1fr 50px;
    gap: 10px;
  }
}

.ticketArray {
  position: relative;
  min-height: 184px;
}

.ticketArray div {
  margin-bottom: 20px;

  @media (max-width: 419px) {
    margin-bottom: 10px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
