$transfers-menu-row-not-title-hover-background-color: #F1FCFF;
$transfers-menu-title-color: #4A4A4A;
$transfers-menu-wrapper-background-color: #FFFFFF;
$transfers-menu-wrapper-box-shadow-color: rgba(0, 0, 0, 0.1);

.wrapper {
    display: grid;
    grid-template-rows: repeat(6, 40px);
    background: $transfers-menu-wrapper-background-color;
    box-shadow: 0px 2px 8px $transfers-menu-wrapper-box-shadow-color;
    border-radius: 5px;
    padding: 5px 0;
}

.title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.5px;
    color: $transfers-menu-title-color;
}

.row {
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
    padding-left: 20px;
}

.row:not(.title):hover {
    background: $transfers-menu-row-not-title-hover-background-color;
    cursor: pointer;
}
